@media screen and (max-width: 710px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .description .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 660px) {
  .main-button {
    padding: 10px 20px;
  }
  .description p {
    font-size: 12px;
  }
}

@media screen and (max-width: 609px) {
  .description .title {
    font-size: 40px;
  }
  .main-button {
    margin-bottom: 10px;
  }
  .description p {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .description {
    width: 100%;
    margin-right: 20vw;
  }
  .description .title {
    font-size: 30px;
    margin-bottom: 5vh;
  }
  .main-button {
    margin-bottom: 10px;
  }
  .description p {
    display: none;
  }
  .main-button i {
    margin-right: 8px;
    font-size: 10px;
  }
}